################################################################################
# Copyrights © 2021-2022 Fiserv, Inc. or its affiliates. 
# Fiserv is a trademark of Fiserv, Inc., 
# registered or used in the United States and foreign countries, 
# and may or may not be registered in your country.  
# All trademarks, service marks, 
# and trade names referenced in this 
# material are the property of their 
# respective owners. This work, including its contents 
# and programming, is confidential and its use 
# is strictly limited. This work is furnished only 
# for use by duly authorized licensees of Fiserv, Inc. 
# or its affiliates, and their designated agents 
# or employees responsible for installation or 
# operation of the products. Any other use, 
# duplication, or dissemination without the 
# prior written consent of Fiserv, Inc. 
# or its affiliates is strictly prohibited. 
# Except as specified by the agreement under 
# which the materials are furnished, Fiserv, Inc. 
# and its affiliates do not accept any liabilities 
# with respect to the information contained herein 
# and are not responsible for any direct, indirect, 
# special, consequential or exemplary damages 
# resulting from the use of this information. 
# No warranties, either express or implied, 
# are granted or extended by this work or 
# the delivery of this work
################################################################################

openapi: 3.0.1
info:
  title: Enrichment As a Service
  description: A cloud-based service to cleanse and then enrich transactions with additional data attributes, including **merchant names**, **location**, **merchant logos**, **categories**, **transaction type** and **merchant contact information**.
  version: v1.0.0
servers:
  - url: https://tenants.fiserv.com/
    
paths:
  /transactions/v2/enrichments:
    post:
      security:
      - BasicAuth: []
      tags:
        - enrichedTransactions
      operationId: enrichedTransactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrichmentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrichmentResponse'
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
  schemas:
    EnrichmentRequest:
      required:
        - transactionDescription
      type: object
      properties:
        transactionDescription:
          type: string
          description: Merchant name (ISO Field 48 or 43) or transaction description
        mccCode:
          type: string
          description: Merchant Category Code
        merchantCity:
          type: string
          description: City in which merchant is located
        merchantState:
          type: string
          description: State in which merchant is located
        merchantCountry:
          type: string
          description: Country in which merchant is located, default to US
        merchantPostalCode:
          type: string
          description: Postal code for the merchant’s location.
        acquirerId:
          type: string
          description: Acquirer ID
        merchantId:
          type: string
          description: Merchant ID
        terminalId:
          type: string
          description: Terminal ID
        tokenRequestorId:
          type: string
          description: Token requestor ID
        userId:
          type: string
          description: ID used to uniquely identify the user or card, must be tokenized without any PAI/PII
        transactionId:
          type: string
          description: ID used to uniquely identify the transaction
        transactionAmount:
          type: string
          description: Amount of the transaction
        transactionCurrency:
          type: string
          description: Transaction currency code (ISO 4217)
        transactionTime:
          type: string
          description: Time at which the transaction occurred
        transactionStatus:
          type: string
          description: |-
            Transaction status: Pending; Posted; Denied; Reversal
            card, ach, billpay, zelle, rtp, p2p, others.
            (During testings, for card transactions, set accountTransactionType = card;
            For account transactions, set accountTransactionType = others;
        accountTransactionType:
          type: string
          description: For billpay transactions, set accountTransactionType = billpay;
        transactionType:
          type: string
          description: 'Transaction type: In-store; eCommerce; ATM; Recurring; MOTO; Others.'
        responseCode:
          type: string
          description: Response code (ISO Field 39)
        posEntryMode:
          type: string
          description: ISO Field 22. Required if transaction type is not available
    EnrichmentResponse:
      required:
        - enrichedMerchantName
        - enrichmentStatus
      type: object
      properties:
        enrichmentStatus:
          type: string
          description: "Enrichment status: MERCHANT_AND_STORE_RESOLVED ; MERCHANT_RESOLVED; MERCHANT_NAME_CLEANSED; MERCHANT_CATEGORIZED; UN_ENRICHED. Merchant address and location will be available when status is MERCHANT_AND_STORE_RESOLVED\nIF can not be resolved as MSR or MR,\_ and both clean name and prefix didn't pass the threshold, the enrichment status can be MERCHANT_CATEGORIZED.\nIF enrichmentStatus=='MERCHANT_NAME_CLEANSED',\_return more readable name.\nFor regular words, use the camel hump format: First letter of the word is uppercase,\_ all the other are lowercase.\nFor unknown abbreviation, keep all of them uppercase.\nIf the character length of the word is less than 4, then consider it as abbreviation, otherwise consider it as regular words."
        ondotMerchantId:
          type: string
          description: Enriched Ondot Merchant ID if enrichment status is MERCHANT_RESOLVED, otherwise empty
        ondotStoreId:
          type: string
          description: Enriched Ondot Store ID if enrichment status is MERCHANT_AND_STORE_RESOLVED, otherwise empty
        enrichedMerchantName:
          type: string
          description: "Enriched merchant name\nif store resolved, return the corresponding merchant name;\_\nif merchant resolved, return the merchant name;\_\nif standard merchant name is available under either of the circumstances, return the standard merchant name."
        enrichedTransactionDescription:
          type: string
          description: Enriched transaction description
        mcc:
          type: string
          description: Predicted MCC
        transactionCategory:
          type: string
          description: Predicted Merchant Category
        transactionSubCategory:
          type: string
          description: Predicted Merchant Sub-category
        additionalMerchantDescription:
          type: string
          description: Additional merchant category description (e.g. 3rd party category descriptions; MCC descriptions)
        logoUrl:
          type: string
          description: Enriched Merchant’s logo URL
        enrichedMerchantAddress:
          type: string
          description: Enriched Merchant’s street address.
        enrichedMerchantCity:
          type: string
          description: Enriched Merchant’s city
        enrichedMerchantState:
          type: string
          description: Enriched Merchant’s state
        enrichedMerchantPostalCode:
          type: string
          description: Enriched Merchant’s postal code
        enrichedMerchantCountry:
          type: string
          description: Enriched Merchant’s country
        enrichedMerchantLatitude:
          type: string
          description: Enriched Merchant’s latitude
        enrichedMerchantLongitude:
          type: string
          description: Enriched Merchant’s longitude
        enrichedMerchantLocationType:
          type: string
          description: Type of Enriched Merchant’s location (STORE; TERMINAL_CENTROID)
        phone:
          type: string
          description: "Enriched Merchant’s phone\nEnriched Merchant’s URL\nif store resolved, return the corresponding merchant url;\_\nif merchant resolved, return the merchant url;\_"
        url:
          type: string
          description: if standard merchant url is available under either of the circumstances, return the standard merchant url.
        email:
          type: string
          description: Enriched Merchant’s email
        hours:
          type: string
          description: Enriched Merchant’s hours of operation
        transactionType:
          type: string
          description: 'Transaction type: cp(in-store transactions), cnp(online, ecommerce), atm'
        paymentServiceProvider:
          type: string
          description: Payment Service Provider
  